.scanner {
  margin: auto;
  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scanner__status {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
  margin-top: auto;
}

.scanner__animation,
.scanner__placeholder {
  touch-action: none;
  width: 256px;
  height: 256px;
}

.scanner__placeholder {
  line-height: 256px;
  text-align: center;
}

.scanner__finger-place {
  border: 1px dashed #369;
  border-radius: 5px;
  background: aliceblue;
  overflow: hidden;
  margin-bottom: auto;
  font-size: 16px;
}
