<div class="scanner">
  <div (touchstart)="onTouchstart($event)" class="scanner__status">
    {{ statusText }}
  </div>

  <div class="scanner__finger-place">
    @if(showVideo){

      <video
        class="scanner__animation"
        style="background: transparent"
        autoplay
        muted
        loop="true"
        playsinline=""
      >
        <source src="scan.mp4" type="video/mp4" />
      </video>

    } @if(!showVideo) {
    <div (touchstart)="onTouchstart($event)" class="scanner__placeholder">
      Приложи палец
    </div>
  }
  </div>
</div>
